[Unit]
Description=ON Patela client

[Service]
Type=oneshot
User=root
ExecStart=/usr/sbin/patela-client \
--server https://10.10.10.1:8020 \
--tpm2 /dev/tpmrm0

[Install]
WantedBy=multi-user.target
